* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--off-white);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: clamp(350px, 90%, 650px);
  font-size: 1rem;
  padding: 3rem 6vmin;
  background-color: #fff;
  border-radius: 5% 5% 30% 5%;
}

.container__topbar {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  width: 75%;
  font-size: 0.8rem;
}

.container__topbar__input {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.container__topbar__input input {
  width: 100%;
  font-size: 2em;
  font-weight: 700;
  border: 1px solid var(--light-grey);
  padding: 0.75rem 1rem;
  border-radius: 0.3em;
  color: var(--off-black);
  transition: 0.2s;
  outline: none;
}

.container__topbar__input input:hover,
.container__topbar__input input:focus {
  border-color: var(--purple);
}

.container__topbar .input.error p {
  color: var(--light-red);
}

.container__topbar .input.error input {
  border-color: var(--light-red);
}

.container__topbar__input p {
  text-transform: uppercase;
  color: var(--smokey-grey);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.3em;
}

.container__divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__divider__line {
  width: 100%;
  height: 1px;
  background-color: var(--light-grey);
}

.container__divider__btn {
  width: 70px;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.container__divider__btn img {
  width: 100%;
  cursor: pointer;
}

.container__reporters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.container__reporters p {
  color: var(--off-black);
  font-size: 4.6em;
  line-height: 1.1em;

  font-weight: 800;
  font-style: italic;
}

.container__reporters p span {
  color: var(--purple);
  margin-right: 0.3rem;
}

@media screen and (max-width: 600px) {
  .container__topbar {
    width: 100%;
  }

  .container__divider {
    margin: 4em 0;
  }

  .container__divider__btn {
    position: absolute;
  }

  .container__reporters p {
    font-size: 3.8em;
  }
}
